<div class="container">
    <div class="page-header">
        <h1>Lista de sobreviventes</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group people">
                {{#each model as |people|}}
                <li class="list-group-item">
                    {{people.name}}: idade: <em>{{people.age}}</em>
                    <span class="rating pull-right">{{people.gender}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>