{{outlet}}
<form id="form-register" class="form-inline ">
 {{!--<label for="name">Name:</label>
<input type="text" id="name" placeholder="Ex., Don Juan"><br/>--}}
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name">
            <label class="mdl-textfield__label" for="name">Name...</label>
        </div>
    </form>
    {{!--<label for="age">Age:</label>
    <input type="number" id="age" placeholder="Ex., 34" style="width: 70px"><br/>--}}
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="age">
            <label class="mdl-textfield__label" for="age">Age...</label>
            <span class="mdl-textfield__error">Age...</span>
        </div>
    </form>
    <label for="gender">Gender:</label><br/>
    <input type="radio" id="genderM" name="gender" value="M" checked> Male<br>
    <input type="radio" id="genderF" name="gender" value="F"> Female<br>
    <label for="lonlat">Last Location:</label>
    <input type="text" id="lonlat"><br/>
    {{google-map latitude="-10.0133268" longitude="-51.1145139" zoom=8}}
    <div>
        <label for="name">Inventory:</label><br>
        <table style="width: 150px">
            <tr>
                <td>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M12,20A6,6 0 0,1 6,14C6,10 12,3.25 12,3.25C12,3.25 18,10 18,14A6,6 0 0,1 12,20Z" />
                    </svg>
                    <label for="water">Water:</label>
                </td>
                <td>
                    <input type="number" id="water" style="width: 40px" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M20,10C22,13 17,22 15,22C13,22 13,21 12,21C11,21 11,22 9,22C7,22 2,13 4,10C6,7 9,7 11,8V5C5.38,8.07 4.11,3.78 4.11,3.78C4.11,3.78 6.77,0.19 11,5V3H13V8C15,7 18,7 20,10Z" />
                    </svg>
                    <label for="food">Food:</label>
                </td>
                <td>
                    <input type="number" id="food" style="width: 40px" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="medication">Medication:</label>
                </td>
                <td>
                    <input type="number" id="medication" style="width: 40px" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ammunition">Ammunition:</label>
                </td>
                <td>
                    <input type="number" id="ammunition" style="width: 40px" min="0">
                </td>
            </tr>
        </table>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" {{action "register"}}>Register</button>
</form>